
@{
    ViewBag.Title = "SQLServerRegister";
}

<h2>SQLServer registration</h2>

<img src="~/Documents/Images/SQLServerImg.png" alt="SQLServer Logo" class="img-responsive" width="100" height="100" style="padding-top: 5px;">
<div>
    @using (Html.BeginForm("SQLServerRegister", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
    {
        <div>
            <input style="display: none" type="text" name="fakeusernameremembered" />
            <input style="display: none" type="password" name="fakepasswordremembered" />

            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Naam: </label>
                <div class="col-md-10">
                    <input name="name" id="name" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-2 control-label">email: </label>
                <div class="col-md-10">
                    <input name="email" id="email" type="email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">Wachtwoord: </label>
                    <div class="col-md-10">
                        <input id="password1" type="password" name="password1" class="form-control" />
                    </div>
                </div>
                <br />
                <div style="margin-top: 2px">
                    <label class="col-md-2 control-label">nog een keertje:</label>
                    <div class="col-md-10">
                        <input id="password2" type="password" name="password2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button id="loginButton" class="btn btn-default" style="margin-left: 15px;">Doe iets!!!</button>
                <input id="cancleButton" class="btn btn-default" style="margin-left: 15px;" type="button" value="laat maar zitten"/>
            </div>
        </div>
    }

    <div id="loadingGif" style="display: none">
        <img src="~/Documents/Images/loadingGifs/octopus.gif" alt="Octopus loading gif" class="img-responsive loadingGif" width="200" height="200">
    </div>

    <script>
        jQuery.validator.addMethod("emailCheck", function (value, element) {
            var emailResult = "NoResult";
            $.ajax({
                method: "POST",
                url: "/Register/CheckSQLServerUserEmail",
                data: { email: value },
                async: false
            })
            .done(function (result) {
                    emailResult = result.result;
                });
            return emailResult === "Free";
        }, "Dit email Address is al bekend bij ons");

        function ajaxCheckEmail(value) {
            return $.ajax({
                method: "POST",
                url: "/Register/CheckSQLServerUserEmail",
                data: { email: value }
            })
            .done(function (result) {
                console.log(result);
            });
        }



        $("#registerForm").validate({
            rules: {
                name: "required",
                email: {
                    email: true,
                    required: true,
                    emailCheck : true
                },
                password1: "required",
                password2: {
                    required: true,
                    equalTo : "#password1"
                }
            },
            messages: {
                name: "Naam is verplicht",
                email: {
                    email: "Noem je dit een email",
                    required: "Email is verplicht"
                },
                password1: "je kan deze niet leeg laten",
                password2: {
                    required: "je kan deze niet leeg laten",
                    equalTo: "wat ben je nou aan het doen. die wachtwoorden zijn niet gelijk"
                }
            }
        });

        $(function() {
            $("#loginButton").click(function() {
                $("#loadingGif").show();
                if (!$("#registerForm").valid()) {
                    $("#loadingGif").hide();
                }
                $("#registerForm").submit();
            });

            $(document).keypress(function (e) {
                if (e.which === 13) {
                    $("#loginButton").click();
                }
            });

            $("#cancleButton").click(function () {
                window.location.replace("/Login/SQLServerLogin");
            });
        });
    </script>
    <style>
        input.valid{
            background-color: #E0F8E0;
        }
        input.error {
            background-color: #FBEFF2;
        }
    </style>
</div>
