@using System.Text
@using KomtSnor.EntityFramework
@using KomtSnor.Models
@model HomeViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div align="center">
        <h1>Komt snor</h1>
        <p class="lead">Hoe snor zit jouw snor?</p>
        <p>
            <img src="~/Documents/Images/mustache.png" alt="De Snor" class="img-responsive" width="550" height="200">
        </p>
    </div>
</div>

<div class="row">
    @if (Model.authenticationList.Count > 0)
    {
        <div align="center" class="col-md-12">
            <h2>Logged in with:</h2>
            <p>
                @{
                    string s = "";
                    foreach (string authenticationConstant in Model.authenticationList)
                    {
                        s += Html.Label(authenticationConstant).ToString();
                        s += "<br/>";
                    }
                }
                @Html.Raw(s)
            </p>

        </div>
    }
    else
    {
        <div align="center" class="col-md-12">
            <h2>Welcome</h2>
            <p>
                hier komen alle verschillende applicatie waarmee jij geautoriseerd bent.
                <br/> Dit is momenteel leeg, maar dat moet snor komen.
            </p>

        </div>
    }
</div>